<nav class="bg-success d-flex ">
  <div class="col-2 text-left">
    <a href="/" style="color: #000000; text-decoration: none;">
      <span class="material-symbols-outlined">
        home
      </span>
    </a>
  </div>
  <div class="col-6 text-center">TITLE</div>
  <div class="col-2 text-center">
    <a href="/dashboard/1{{!--Need to change to :id once login is verified--}} "
      style="color: #000000; text-decoration: none;">
      Dash
    </a>
  </div>
  <div class="col-2 text-center">
    <a href="/login" style="color: #000000; text-decoration: none;">
      Login/Logout
    </a>
  </div>
</nav>

<div class="d-flex col-6 m-2 bg-secondary">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <div class="col-9 text-left">{{blog.title}}</div>
      <div class="col-6 text-right">{{blog.date_created}}</div>
    </div>
    <div class="text-center">{{blog.blog_data}}</div>

    <div class="text-right">Author: {{blog.user.name}} </div>
  </div>
</div>
<div>
<div class="form-group">
  <label for="comment-form"></label>
  <input class="form-input" type="text" id="comment-form" placeholder="Comment" />
</div>
<div>
  <button id="submit-button">Submit</button>
</div>
</div>