<nav class="bg-success d-flex ">
  <div class="col-2 text-left">
    <a href="/" style="color: #000000; text-decoration: none;">
      <span class="material-symbols-outlined">
        home
      </span>
    </a>
  </div>
  <div class="col-6 text-center">TITLE</div>
  <div class="col-2 text-center">
    <a href="/dashboard/1{{!--Need to change to :id once login is verified--}} " style="color: #000000; text-decoration: none;">
    Dash
    </a>
    </div>
  <div class="col-2 text-center"> 
    <a href="/login" style="color: #000000; text-decoration: none;">
      Login
    </a>
    </div>
</nav>

<br>

<div>
    {{blogData.dataValues.title}}
</div>
