<nav class="bg-success d-flex ">
  <div class="col-2 text-left">
    <a href="/" style="color: #000000; text-decoration: none;">
      <span class="material-symbols-outlined">
        home
      </span>
    </a>
  </div>
  <div class="col-6 text-center">TITLE</div>
  <div class="col-2 text-center">Dash</div>
  <div class="col-2 text-center">
    <a href="/login" style="color: #000000; text-decoration: none;">
      Login
    </a>
  </div>
</nav>

<div class="">
  <div class="">
    <h2>{{userData.dataValues.name}}'s Dashboard</h2>
  </div>
</div>

<div class="">
  <div class="">
    <h3>Create a New Blog:</h3>

    <form class="">
      <div class="">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="">
        <label for="blog-text">New Blog:</label>
        <textarea class="form-input" id="blog-text" name="blog-text"></textarea>
      </div>
      <div class="">
        <button type="submit" class="">Create</button>
      </div>
    </form>
  </div>


  <div class="">
    <h3>Blog History:</h3>  
    {{#each blogs as |blog|}}
    <div class="col-6 bg-secondary">
      <div class="">
        <h4><a href="/blog/{{blog.id}}" style="color: #000000; text-decoration: none;">{{blog.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<script src="./js/dashboard.js"></script>

<script src="./js/profile.js"></script>