<nav class="bg-success d-flex ">
  <div class="col-1 text-left">
    <a href="/" style="color: #000000; text-decoration: none;">
      <span class="material-symbols-outlined">
        home
      </span>
    </a>
  </div>
  <div class="col-11 text-center">TITLE</div>
</nav>
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="" id="login-form">
      <div class="">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" name="email" required />
      </div>
      <div class="">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" name="password" required />
      </div>
      <div class="">
        <button id="login-btn" class="btn btn-secondary" type="button">login</button>
      </div>
    </form>
  </div>
  <div class="">
    <h2>Signup</h2>

    <form class="">
      <div class="">
        <label for="name-signup">name:</label>
        <input class="" type="text" id="name-signup" required />
      </div>
      <div class="">
        <label for="email-signup">email:</label>
        <input class="" type="text" id="email-signup"required />
      </div>
      <div class="p">
        <label for="password-signup">password:</label>
        <input class="" type="password" id="password-signup" />
      </div>
      <div class="">
        <button class="" type="submit" id="login-button">signup</button>
      </div>
    </form>
  </div>
</div>

<script>

  

async function login(event) {
    event.preventDefault();
    event.stopPropagation();
    console.log("login function is running");
  
    const email = document.getElementById('email-login').value.trim();
    const password = document.getElementById('password-login').value.trim();
 
    if (email && password) {
      console.log("awaiting fetch from routes")
      const response = await fetch('/api/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });
  
      if (response.ok) {
        document.location.replace('/');
      } else {
        alert('Failed to log in');
      }
    }
  };
  
  let login_el = document.getElementById('login-btn');
  login_el.addEventListener('click', (e) => login(e));
  
</script>