<nav class="bg-success ">
  <div class="d-flex align-items-center col-6 justify-content-around" style="height: 60px;">
    <div class="text-left">
    <a href="/" style="color: #000000; text-decoration: none;">
        <span class="material-symbols-outlined">
          home
        </span>
      </a>
    </div>
    <div class="text-center">MVC Blog Project</div>
  </div>
</nav>

<div class="row container col-12 mt-4">
  <div class="col-6">
    <h2>Login</h2>

    <form class="" id="login-form">
      <div class="form-group">
        <label for="email-login" class="form-label">Email:</label>
        <input class="form-control" type="email" id="email-login" name="email" required />
      </div>
      <div class="form-group">
        <label for="password-login" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password-login" name="password" required />
      </div>
      <div class="">
        <button id="login-btn" class="btn btn-primary" type="button">Login</button>
      </div>
    </form>
  </div>
  <div class="col-6">


    <h2>Signup</h2>

    <form class="">
      <div class="form-group">
        <label for="name-signup" class="form-label">Name:</label>
        <input class="form-control" type="text" id="signup-name" required />
      </div>
      <div class="form-group">
        <label for="email-signup" class="form-label">Email:</label>
        <input class="form-control" type="email" id="signup-email" required />
      </div>
      <div class="form-group">
        <label for="password-signup" class="form-label">Password:</label>
        <input class="form-control" type="password" id="signup-password" required/>
      </div>
      <div class="">
        <button class="btn btn-primary" type="submit" id="signup-btn">Signup</button>
      </div>
    </form>
  </div>
</div>











<script>

//login function

  async function login(event) {
    event.preventDefault();
    event.stopPropagation();
    console.log("login function is running");

    const email = document.getElementById('email-login').value.trim();
    const password = document.getElementById('password-login').value.trim();

    if (email && password) {
      console.log("awaiting fetch from routes")
      const response = await fetch('/api/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' },
      });

      if (response.ok) {
        document.location.replace('/');
      } else {
        alert('Failed to log in');
      }
    }
  };

  let login_el = document.getElementById('login-btn');
  login_el.addEventListener('click', (e) => login(e));

// signup function

  async function signup(event) {
    event.preventDefault();
    event.stopPropagation();
    console.log("signup function is running");

const name = document.getElementById('signup-name').value.trim();
const email = document.getElementById('signup-email').value.trim();
const password = document.getElementById('signup-password').value.trim();

    if (name && email && password) {
      console.log("awaiting fetch from routes")
      const response = await fetch('/api/signup', {
        method: 'POST',
        body: JSON.stringify({ name, email, password }),
        headers: { 'Content-Type': 'application/json' },
      });

      if (response.ok) {
        alert("Signed up! Please Login");
      } else {
        alert('Failed to signup');
      }
    }
  };

  let signup_el = document.getElementById('signup-btn');
  signup_el.addEventListener('click', (e) => signup(e));

</script>